.header-side-drawer {
  height: 100vh;
  width: 70vw;
  background: #f7f4e9;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
