.sign-in {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .sign-in__form {
    margin: 1rem;
    width: 100%;
    min-height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    padding: 1rem;
    color: #425664;
    background: url(../../assets/abstract-envelope.svg);
    background-position: center;
    background-size: cover;

    form {
      width: 20rem;
    }
  }

  @media screen and (max-width: 768px) {
    width: 80vw;
  }
}
