.map-modal {
  z-index: 100;
  position: fixed;
  top: 22vh;
  left: calc(50% - 9rem);
  width: 80vw;
  max-width: 40rem;
  background: #f7f4e9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;

  .map-modal__header {
    width: 100%;
    padding: 1rem 0.5rem;
    background: #252669;
    text-align: center;
    color: white;

    h2 {
      margin: 0.5rem;
    }
  }

  .map-modal__content {
    height: 18rem;
    width: 100%;
    padding: 1rem 0.5rem;

    @media (min-width: 768px) {
      height: 20rem;
    }
  }

  .map-modal__actions {
    padding: 1rem 0.5rem;
    text-align: right;
  }

  @media (min-width: 768px) {
    left: calc(50% - 20rem);
  }
}
