.users-list {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .users-list__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 17rem;
    height: 8rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    padding: 1rem;
    color: #f7f4e9;
    background: #425664;
  }
}
