@font-face {
  font-family: 'Acme';
  src: url('./assets/Acme.ttf') format('truetype');
}

@font-face {
  font-family: 'Bangers';
  src: url('./assets/Bangers.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f7f4e9;
  font-family: 'Acme';
  background-image: url(./assets/alternating-arrowhead.svg);
  background-attachment: fixed;
}

main {
  margin: 3rem 0;
}
