@font-face {
  font-family: 'Acme';
  src: url('./assets/Acme.ttf') format('truetype');
}

@font-face {
  font-family: 'Bangers';
  src: url('./assets/Bangers.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f7f4e9;
  font-family: 'Acme';
  background-image: url(./assets/alternating-arrowhead.svg);
  background-attachment: fixed;
}

main {
  margin: 3rem 0;
}

.slide-in-left-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 200ms;
}

.slide-in-left-exit {
  opacity: 1;
  transform: translateX(0);
}

.slide-in-left-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 200ms;
}

.slide-in-top-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.slide-in-top-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 200ms;
}

.slide-in-top-exit {
  opacity: 1;
  transform: translateY(0);
}

.slide-in-top-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 200ms;
}
